<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

<div class="head-menu">
    <a href="{% url 'search' %}" class="button">Cancelar Facturas</a>
    <a href="{% url 'search_groups' %}" class="button">Búsqueda Agrupada</a>
    <a href="{% url 'search_all' %}" class="button">Búsqueda de Facturas</a>
    <form method="post" action="" style="float: right">
        {% csrf_token %}
        <input type="hidden" name="update">
        <button type="submit">Actualizar Facturas</button>
    </form>
</div>

{% block content %}
{% endblock %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#id_date").datepicker();
    });
    $(function () {
        $("#id_date_cancelled").datepicker();
    });
    $(function () {
        $("#cancel_date").datepicker();
    });

    function clean() {
        document.getElementById("id_amount").value = '';
        document.getElementById("id_client_rut").value = '';
        document.getElementById("id_fnum").value = '';
        document.getElementById("id_date").value = '';
        document.getElementById("id_date_cancelled").value = '';
        document.getElementById("id_paid").value = '';
    }
</script>
{% block js %}
{% endblock %}
</html>